
/*筛选条件条件*/
.screen{
	position: fixed;
	z-index: 20;
	top:0.9rem;
	width: 7.50rem;
	height: 0.9rem;
	line-height: 0.9rem;
	
	background-color: #FFFFFF;
}
.screen a{
	font-size: 0.30rem;
	display: block;
	float: left;
	width: 33%;
	color: #A3A7BE;
	text-align: center;
}
.screen a.active{
	color: #0077EE;
	height: 0.86rem;
	border-bottom: 0.04rem solid #0077EE;
}
.screen a span img{
	width: 0.11rem;
}

.pact{
	margin: 0.3rem;
	font-size: 0.28rem;
	background-color: #FFFFFF;
}
.pact p{
	padding: 0 0.2rem;
	height: 0.8rem;
	line-height: 0.8rem;
	color: #636A7D;
}
.pact p.title{
	
}
.pact p a.title{
	display: block;
	width: 100%;
	height: 100%;
	color: #2E2B51;
}
.pact p span.img{
	height: 0.8rem;
	line-height: 0.8rem;
	vertical-align: middle;
}
.pact p span.img img{
	width: 0.4rem;
	vertical-align: middle;
}
.pact p span.val{
	color: #2E2B51;
	font-weight: bold;
}


.footer-btn{
	background-color: #FFFFFF;
	position: fixed;
	z-index: 20;
	width: 7.5rem;
	height: 1.0rem;
	bottom: 0;
	border-top: 0.02rem solid #C9CACD;
	font-size: 0.24rem;
}

.footer-btn .btn{
	display: inline-block;
	height: 0.6rem;
	line-height: 0.6rem;
	color: #0077EE;
	border: 0.02rem solid #0077EE;
	border-radius: 0.05rem;
	margin: 0.2rem 0.3rem;
	padding: 0 0.2rem;
}


/*交易流程跟踪*/
.deal-flow{
	padding: 0.3rem 0;
	margin: 0.3rem 0;
	overflow: auto;
	zoom: 1;
	font-size: 0.24rem;
	color:#444261;
	background-color: #FFFFFF;
}
.deal-flow ul{
	overflow: auto;
	zoom: 1;
}
.deal-flow .deal-line{
	position: relative;
	width: 25%;
	float: left;
	text-align: center;
	padding-top: 0.5rem;
	background: url(../../img/circle_03.png) no-repeat;
	background-position: center top; 
	background-size: 0.36rem 0.36rem;
}
.deal-flow .deal-line.wait{/*等待*/
	background: url(../../img/circle_03.png) no-repeat;
	background-position: center top; 
	background-size: 0.36rem 0.36rem;
}
.deal-flow .deal-line.begin{/*开始*/
	background: url(../../img/circle.png) no-repeat;
	background-position: center top; 
	background-size: 0.36rem 0.36rem;
}
.deal-flow .deal-line.end{/*结束*/
	background: url(../../img/circle_01.png) no-repeat;
	background-position: center top; 
	background-size: 0.36rem 0.36rem;
}

.deal-flow .deal-line span.con{
	display: block;
	width: 1.3rem;
	line-height: 0.3rem;
	margin: 0 auto;
}

.deal-flow .deal-line span.line{
	position: absolute;
	z-index: 0;
	background-color: #0077EE;
	width: 100%;
	height: 0.03rem;
	top:0.16rem;
	left: 57%;
}
.deal-flow .deal-line.wait span.line{
	background-color: #CDCFDB;
}
.deal-flow .deal-line.begin span.line{
	background-color: #CDCFDB;
}
.deal-flow .deal-line.end span.line{
	height: 0.05rem;
	top: 0.15rem;
	background-color: #0077EE;
}

/*合同跟踪*/
.pact-flow{
	margin: 0.3rem 0;
	overflow: hidden;
	font-size: 0.28rem;
	background-color: #FFFFFF;
}
.pact-flow .pact-tit{
	height: 0.8rem;
	line-height: 0.8rem;
	padding: 0 0.3rem;
}
.pact-flow .pact-col{/*默认为等待状态*/
	position: relative;
	padding-left: 1.0rem;
	height: 1.2rem;
	background: url(../../img/circle_03.png) no-repeat;
	background-position: 0.3rem center; 
	background-size: 0.36rem 0.36rem;
}

.pact-flow .pact-col.wait{/*等待*/
	background: url(../../img/circle_03.png) no-repeat;
	background-position: 0.3rem center; 
	background-size: 0.36rem 0.36rem;
}
.pact-flow .pact-col.begin{/*开始*/
	background: url(../../img/circle.png) no-repeat;
	background-position: 0.3rem center; 
	background-size: 0.36rem 0.36rem;
}
.pact-flow .pact-col.end{/*结束*/
	background: url(../../img/circle_01.png) no-repeat;
	background-position: 0.3rem center; 
	background-size: 0.36rem 0.36rem;
}

.pact-flow .pact-col .pact-con{
	width: 100%;
	height: 0.6rem;
	padding: 0.25rem 0 0.33rem;
	border-bottom: 0.02rem solid #E5E4EA;
}
.pact-con .con-name{
	height: 0.35rem;
	line-height: 0.35rem;
	color:#444261;
}
.pact-con .con-time{
	height: 0.25rem;
	line-height: 0.25rem;
	font-size: 0.24rem;
	color: #636A7D;
}

.pact-flow .pact-col span.col{
	position: absolute;
	z-index: -0;
	width: 0.03rem;
	height: 1.2rem;
	left: 0.46rem;
	top: 0.73rem;
	background-color: #CDCFDB;
}
.pact-flow .pact-col.wait span.col{/*等待*/
	background-color: #CDCFDB;
}
.pact-flow .pact-col.begin span.col{/*开始*/
	background-color: #CDCFDB;
}
.pact-flow .pact-col.end span.col{/*结束*/
	left: 0.45rem;
	width: 0.05rem;
	background-color: #0077EE;
}


/*商品详情页面样式*/
.spxq-tit{
	padding: 0.3rem;
	background-color: #FFFFFF;
	font-size: 0.36rem;
	height: 1.0rem;
	overflow: hidden;
}
.spxq-tit .tit-name{
	height: 0.6rem;
	line-height: 0.6rem;
}
.spxq-tit .tit-time{
	display: block;
	line-height: 0.4rem;
	height: 0.4rem;
	font-size: 0.24rem;
	color: #A4A8BF;
}
.xq-con{
	margin: 0.2rem;
	background-color: #FFFFFF;
	border-radius: 0.05rem;
}
.xq-con p{
	line-height: 0.9rem;
	font-size: 0.3rem;
	padding: 0 0.3rem;
	vertical-align:middle;
}
.xq-con p .icon{
	vertical-align:middle;
	width: 0.4rem;
}
.xq-con .para-list{
	padding: 0;
	overflow: auto;
	zoom: 1;
}
.xq-con .para-list li{
	margin-bottom: 0.3rem;
	width: 33%;
	text-align: center;
	float: left;
}

.xq-con .para-list li .para-name{
	line-height: 0.4rem;
	font-size: 0.24rem;
	color: #2E2B51;
	text-align: center;
}
.xq-con .para-list li .icon-para{
	width: 0.8rem;
	height: 0.8rem;
	margin: 0 auto;
}
.xq-con p input[type="text"]{
	line-height: 0.9rem;
	font-size: 0.3rem;
	color: #2E2B51;
	float: right;
	text-align: right;
	font-weight: bold;
}
